@font-face{
    font-family: prod;
    src: url(./assets/Inter-Medium.woff2);
}
@font-face{
    font-family: prod-b;
    src: url(./assets/Inter-SemiBold.woff2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: prod-b;
    /* font-weight: 00; */
}
html , body {
    height: 100%;
    width: 100%;
}
#main{
    width: 100%;
    height: 100vh;
    /* background-color:orangered; */
    z-index: 0;
}
nav{
    position: fixed;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    /* background-color: #fff; */
    justify-content: space-between;
    padding: 0 10vw;
    color: #fff ;
    z-index: 100;

}
nav , a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.3vw;
    color: #fff;
}

.cntr-nav{
    display: flex;
    gap: 30px;
}

nav>i{
    font-size: 2vw;
}
.one{
    height: 100vh;
    width: 100vw;
    background: linear-gradient( 150deg ,rgb(255, 213, 0),rgb(244, 56, 9));
    display: flex;
    align-items: center;
    justify-content: center;
}
#fanta{
    position: absolute;
    top: 7%;
    left: 27%;
    z-index: 100;
    width: 45vw;
    animation: all cubic-bezier(0.19, 1, 0.22, 1);
}
#orange{
    position: absolute;
    top: 60%;
    left: 50%;
    z-index: 101;
    width: 23vw;
    animation: all cubic-bezier(0.19, 1, 0.22, 1);
}
#slice{
    position: absolute;
    top: 5%;
    left: 30%;
    width: 20vw;
    z-index: 10;
    animation: all cubic-bezier(0.19, 1, 0.22, 1);
}
#leaf1{
    position: absolute;
    width: 15vw;
    top: 8%;
    left: 3%;
    z-index: 101;
    transform: rotate(30deg);
    animation: all cubic-bezier(0.19, 1, 0.22, 1);
}
#leaf2{
    position: absolute;
    width: 15vw;
    top: 0;
    right: 1%;
    transform: scale(1.3);
}
#leaf3{
    position: absolute;
    bottom: 5%;
    right: 15%;
    z-index: 100;
    width: 15vw;
    transform: rotate(130deg);
    animation: all cubic-bezier(0.19, 1, 0.22, 1);
    
}
.one>h1{
    color: #fff;
    position: absolute;
    font-size: 48vh;
    z-index: 0  ;
}
.two{
    display: flex;
    width: 100vw;
    height: 100vh;
    /* background-color: bro; */
    background-color: rgb(89, 49, 49);
}
.l-two , .r-two{
   width: 50%;
   height: 100%; 
   display: flex;
   align-items: center;
   justify-content: center;
}
.r-two{
    z-index: 150;
    align-items: flex-start;
    flex-direction: column;
    gap:5vh;
}
.l-two>svg{
    transform: rotateX(70deg);
    width: 80%;
    margin-top: 50vh;
}
.r-two>h1{
    color: #fff;
    font-size: 5vw;
}
.r-two>p{
    color: #fff;
    font-size: 1vw;
    width: 90%;
    justify-content: space-evenly;
}
.three{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 5vw;
    /* background-color: rgb(89, 49, 49); */
    background: linear-gradient( 150deg ,rgb(255, 213, 0),rgb(244, 56, 9));
}
.card{
    position: relative;
    width: 25vw ;
    height: 70vh;
    border-radius: 20px;
    margin-top: 10vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2vh ;
}
.card>h1{
    font-size: 3vw;
    margin-top: 60%;
}
.card>button{
    font-size: 1vw;
    border-radius: 50px;
    border: none;
    padding: 1vw 2vw;
    background-color: orange;
    color: #fff;
}
#pepsi{
    position: absolute;
    top: -10%;
    left: 15%;
    width: 75%;
    animation: all cubic-bezier(0.19, 1, 0.22, 1);

}
#coc{
    position: absolute;
    top: -5%;
    width: 130%;
    animation: all cubic-bezier(0.19, 1, 0.22, 1);

}
.card:nth-child(1){
    background-color: #fff;
}
.card:nth-child(1){
    /* background-color: red; */
}
#lemon{
    position: absolute;
    top:-20%;
    left: 11%;
    width: 80%;
    animation: all cubic-bezier(0.19, 1, 0.22, 1);

}
#apple{
    position: absolute;
    top:-20%;
    width: 80%;
    animation: all cubic-bezier(0.19, 1, 0.22, 1);

}
::-webkit-scrollbar {
    width: 1.2em;
    overflow-x: none;
  }
  ::-webkit-scrollbar-track {
    background-color: #242942;
    margin-block: 0.25em;
    border-radius: 0.3em;
  }
  ::-webkit-scrollbar-thumb {
    background: #00c6ff;
    /* background: -webkit-linear-gradient(to right, #00c6ff, #0072ff); */
    /* background: linear-gradient(to right, #00c6ff, #0072ff); */
    border-radius: 0.3em;
  }
  